/*Written by Samiul Mumin modifying Joshua Leyva's code*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.banner{
    width: 100%;
    height: 100vh; /*100vh, banner heights*/
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/background.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.logo{
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    width: 300px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f4f5c0;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}

.content h1{
    font-size: 75px;
    font-weight: 300;
    margin-top: 80px;
}
.content p{
    font-size: 25px;
    font-weight: 100;
    margin: 10px auto;
    line-height: 25px;
}
.applyBtn, .readBtn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f4f5c0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.applyBtn span, .readBtn span{
    background: #ccce78;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.8s ease;
}

.applyBtn:hover span, .readBtn:hover span{
    width: 100%;

}

.applyBtn:hover, .readBtn:hover{
    border:none;
}

.applyBtn a,.readBtn a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.logo a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}