@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../imgs/background.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container{
    background-color: #fff;
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    margin-top: 150px;
}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #f4f5c0;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .form_last .form_first{
    position: absolute;
    transition: 0.3s ease;
}

.container form .form_last{
    opacity: 0; 
    pointer-events: none;
}


.container form .details{
    margin-top: 30px;

}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #333;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px; 
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.card{
    height: 150px;
    width: 200px;
    position: relative;
}
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;
    outline: none;
}
input[type="radio"]:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}
input[type="radio"]:after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}
.card_label{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}
.card h5{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 0;
}
.card h2{
    font-size: 28px;
}
.card span{
    font-weight: 400;
    font-size: 18px;
    color: #7b7b93;
}
input[type="radio"]:hover{
    transform: scale(1.05);
}
input[type="radio"]:checked{
    border: 3px solid #f4f5c0;
}
input[type="radio"]:checked:after{
    background-color: #f4f5c0;
}

.radio_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container form .radio_title{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.container form .nxtButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    min-width: 200px;
    background-color: #ccce78;;
    margin-top: 20px;
    margin: 25px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .clearButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    min-width: 200px;
    background-color: #ccce78;;
    margin-top: 20px;
    margin: 25px;
    transition: all 0.3s linear;
    cursor: pointer;
}
form .nxtButton:hover{
    background-color: #fafc7e;
}
form .clearButton:hover{
    background-color: #fafc7e;
}

form .nxtButton i{
    margin: 0 6px;
}
form .clearButton i{
    margin: 0 6px;
}

.highlight {
    background-color: #FFE0B2;
}   

.error {
    background: #FFCDD2 url(imgs/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;    
}

form .buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo{
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    width: 300px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f4f5c0;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.banner{
    width: 100%;

}
.logo a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}